<section style="box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;"
    class="h-20 fixed z-50 top-0 w-full bg-white text-gray-800 dark:bg-slate-800 px-3 dark:text-gray-300 flex justify-between items-center">
    <img (click)="openl()" class="bg-transparent h-14 cursor-pointer" src="../../assets/images/download__3_-removebg-preview.png" alt="">
    <div class="text-black hidden select-none lg:block min-w-[400px] text-xl space-x-20">
        <span routerLink="/home" class="headergroup dark:headergroup text-gray-800 dark:text-gray-300 "
            id="HOME">HOME</span>
        <span routerLink="/LMS" class="headergroup dark:headergroup text-gray-800 dark:text-gray-300 " id="ABOUT">L M S</span>
        <span routerLink="/AboutUs" class="headergroup dark:headergroup text-gray-800 dark:text-gray-300 " id="ABOUT">ABOUT US</span>
        <span routerLink="/ContactUs" class="headergroup dark:headergroup text-gray-800 dark:text-gray-300 " id="CONTACTS">CONTACT US</span>
    </div>
    <div class="flex items-center space-x-3">
        <app-toggle-switch></app-toggle-switch>
        <button class="lg:hidden" (click)="open()"><i
                class="text-blue-950 dark:text-yellow-500 text-3xl fa-solid fa-bars-staggered"></i></button>
    </div>
</section>
<nz-drawer id="headerdrawer" class="dark:!bg-slate-900 dark:!text-gray-300" [nzClosable]="true" [nzWidth]="'50%'"
    [nzVisible]="visible" (nzOnClose)="close()">
    <main *nzDrawerContent class="w-full h-full flex flex-col justify-center items-center">
        <div class="w-full dark:bg-slate-900 p-3 px-4">
            <i (click)="close()" class="fa-solid fa-arrow-right text-2xl text-gray-900 dark:text-yellow-500"></i>
        </div>
        <section class="dark:bg-slate-800 h-full w-full flex justify-center items-center">
            <div class=" flex flex-col text-xl space-y-10 select-none">
                <span (click)="close()" routerLink="/home" class="headergroup dark:headergroup text-gray-800 dark:text-gray-300 text-center"
                    id="HOME">HOME</span>
                <span (click)="close()" routerLink="/LMS" class="headergroup dark:headergroup text-gray-800 dark:text-gray-300 text-center" id="ABOUT">L M
                    S</span>
                <span (click)="close()" routerLink="/AboutUs" class="headergroup dark:headergroup text-gray-800 dark:text-gray-300 text-center" id="ABOUT">ABOUT
                    US</span>
                <span (click)="close()" routerLink="/ContactUs" class="headergroup dark:headergroup text-gray-800 dark:text-gray-300 text-center"
                    id="CONTACTS">CONTACT US</span>
            </div>
        </section>
    </main>
</nz-drawer>
<nz-drawer id="headerdrawer" class="dark:!bg-slate-900 dark:!text-gray-300" [nzPlacement]="placement" [nzClosable]="true" [nzWidth]="'150px'"
    [nzVisible]="visiblel" (nzOnClose)="closel()">
    <main *nzDrawerContent class="w-full h-full flex flex-col ">
        <div class="w-full dark:bg-slate-900 bg-gray-100 flex justify-end p-3 px-4">
            <i (click)="closel()" class="fa-solid fa-arrow-right text-2xl rotate-180 cursor-pointer text-gray-900 dark:text-yellow-500"></i>
        </div>
        <section class="dark:bg-slate-800 h-full w-full p-4 relative">
            <h1 (click)="closel()" routerLink="/Admin" class="text-gray-800 dark:text-gray-300 cursor-pointer">Admin</h1>
            <!-- <div class=" flex flex-col text-xl space-y-10 select-none">
                <span (click)="close()" routerLink="/home" class="headergroup dark:headergroup text-gray-800 dark:text-gray-300 text-center"
                    id="HOME">HOME</span>
                <span (click)="close()" routerLink="/LMS" class="headergroup dark:headergroup text-gray-800 dark:text-gray-300 text-center" id="ABOUT">L M
                    S</span>
                <span (click)="close()" routerLink="/AboutUs" class="headergroup dark:headergroup text-gray-800 dark:text-gray-300 text-center" id="ABOUT">ABOUT
                    US</span>
                <span (click)="close()" routerLink="/ContactUs" class="headergroup dark:headergroup text-gray-800 dark:text-gray-300 text-center"
                    id="CONTACTS">CONTACT US</span>
            </div> -->
            <div class="absolute bottom-3 left-5 text-gray-900 dark:text-gray-100 select-none">
               <div (click)="logout()" class="flex justify-center items-center space-x-2 cursor-pointer">
                <span class="font-bold">Logout</span>
                <i class="fa-solid fa-right-from-bracket dark:text-[#ffff00] rotate-180"></i>
               </div>
            </div>
        </section>
    </main>
</nz-drawer>