<main class="pt-20">
    <section class="p-6 md:space-y-6 space-y-3">
        <h1 class="w-full text-center   text-gray-900 font-bold text-lg tracking-wider dark:text-gray-200">Select One
            And Start Test!</h1>
        <div class="w-4/5 mx-auto flex flex-wrap gap-3 md:gap-9 flex-col md:flex-row">
            <div class="w-[46%]" *ngFor="let class of clases">
                <button (click)="nevegat(class.uid)"
                    class="w-full py-2 font-bold select-none hover:bg-gray-400 duration-500 transition-all dark:bg-gray-950 rounded-full bg-gray-300 text-gray-900 dark:text-gray-300 dark:hover:bg-[#ffff00] dark:hover:text-gray-900">{{class.classname}}</button>
            </div>
        </div>

    </section>
</main>