<section class="pt-20 grid place-items-center dark:bg-gray-900 max-w-[500px] mx-auto">
  <div
    class="bg-white dark:bg-gray-800 p-6 md:p-8 rounded-lg shadow-lg w-full max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl">
    <h1 class="text-2xl w-full text-center md:text-3xl font-semibold mb-6 text-gray-800 dark:text-gray-100">Add New
      Education Class</h1>

    <form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <div class="mb-4">
        <label for="className" class="block text-gray-700 dark:text-gray-300 font-medium mb-2">Class Name</label>
        <input nz-input formControlName="className" id="className" name="className" placeholder="Enter class name"
          class="bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100 w-full px-3 py-2 rounded-md border border-gray-300 dark:border-gray-600 shadow-sm  " />
      </div>
      <div class="mb-4">
        <label for="classDate" class="block text-gray-700 dark:text-gray-300 font-medium mb-2">Class Date</label>
        <nz-date-picker nzSize="large" formControlName="classDate" id="classDate" name="classDate"
          class="dark:bg-gray-700 dark:!text-gray-100 w-full border border-gray-300 dark:border-gray-600 bg-gray-100 rounded-md shadow-sm  "></nz-date-picker>
      </div>
      <div class="mb-4">
        <label for="classTime" class="block text-gray-700 dark:text-gray-300 font-medium mb-2">Class Time</label>
        <nz-time-picker nzSize="large" formControlName="classTime" id="classTime" name="classTime" nzFormat="HH:mm"
          class="dark:bg-gray-700 dark:text-gray-100 w-full border bg-gray-100 border-gray-300 dark:border-gray-600 rounded-md shadow-sm  "></nz-time-picker>
      </div>
      <div class="mb-4">
        <label for="classInstructor" class="block text-gray-700 dark:text-gray-300 font-medium mb-2">Instructor
          Name</label>
        <input nz-input formControlName="classInstructor" id="classInstructor" name="classInstructor"
          placeholder="Enter instructor name"
          class="bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100 w-full px-3 py-2 rounded-md border border-gray-300 dark:border-gray-600 shadow-sm  " />
      </div>
      <div class="mb-4">
        <label for="classDescription" class="block text-gray-700 dark:text-gray-300 font-medium mb-2">Class
          Description</label>
        <textarea nz-input formControlName="classDescription" id="classDescription" name="classDescription" rows="4"
          placeholder="Enter class description"
          class="bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100 w-full px-3 py-2 rounded-md border border-gray-300 dark:border-gray-600 shadow-sm  "></textarea>
      </div>
      <button nzSize="large"
        class="w-full duration-500 bg-gray-800 hover:bg-gray-900 dark:bg-[#ffff00] text-white dark:text-gray-900 font-bold py-2 px-4 rounded-md shadow-md  dark:hover:bg-[#ffff00]  ">Add
        Class</button>
    </form>
  </div>
</section>