<section class="w-full  items-center flex justify-center p-9 pt-24">
    <section class="w-full  mx-auto bg-white dark:bg-gray-800 rounded-lg shadow-md p-4">
        <h1 class="text-center py-2 text-lg font-bold text-gray-800 dark:text-gray-200 tracking-widest">
            Learning Management System Results Details
        </h1>
        <div class="overflow-x-auto scrollbar-hide select-none cursor-pointer" appDragScroll>
            <nz-table id="customers" #sortTable [nzData]="list" nzTableLayout="auto" class="nztable dark:nztable">
                <thead class="dark:!bg-gray-900">
                    <tr class="dark:!bg-gray-900 divide-x dark:divide-gray-100">
                        <th class="w-24 text-gray-800 dark:!bg-gray-900 dark:text-gray-200"
                            style="white-space: nowrap;">Image</th>
                        <th class="text-gray-800 whitespace-nowrap text-ellipsis dark:!bg-gray-900 dark:text-gray-200"
                            style="white-space: nowrap;" nzCustomFilter>
                            Student Name
                            <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
                                [nzDropdownMenu]="menu">
                                <span class="!text-md hover:!bg-transparent text-gray-800 dark:text-gray-200" nz-icon
                                    nzType="search"></span>
                            </nz-filter-trigger>
                        </th>
                        <th class="text-gray-800 dark:text-gray-200 dark:!bg-gray-900" style="white-space: nowrap;"
                            nzCustomFilter>
                            Class Name
                            <nz-filter-trigger [(nzVisible)]="visibleclass" [nzActive]="searchValue.length > 0"
                                [nzDropdownMenu]="class">
                                <span class="!text-md hover:!bg-transparent text-gray-800 dark:text-gray-200" nz-icon
                                    nzType="search"></span>
                            </nz-filter-trigger>
                        </th>
                        <th class="text-gray-800 dark:text-gray-200 dark:!bg-gray-900" style="white-space: nowrap;"
                            nzCustomFilter>
                            Book Name
                            <nz-filter-trigger [(nzVisible)]="visiblebook" [nzActive]="searchValue.length > 0"
                                [nzDropdownMenu]="book">
                                <span class="!text-md hover:!bg-transparent text-gray-800 dark:text-gray-200" nz-icon
                                    nzType="search"></span>
                            </nz-filter-trigger>
                        </th>
                        <th class="text-gray-800 dark:text-gray-200 dark:!bg-gray-900" style="white-space: nowrap;">
                            Result</th>
                        <th class="text-gray-800 dark:text-gray-200 dark:!bg-gray-900" style="white-space: nowrap;">Time
                            Taken</th>
                    </tr>
                </thead>
                <tbody class="dark:!bg-gray-800 relative">
                    <nz-spin *ngIf="loadingMore"
                        class="!text-purple-800 dark:!text-purple-400 absolute top-1/2 left-1/2 transform translate-x-1/2 translate-y-1/2 z-50"
                        nzSize="large"></nz-spin>
                    <tr *ngFor="let data of sortTable.data; let i=index"
                        class="hover:!bg-gray-100 dark:hover:!bg-gray-900 group">
                        <td class="text-gray-700 dark:text-gray-300 group-hover:bg-gray-100 dark:group-hover:bg-gray-900"
                            style="white-space: nowrap;">
                            <img class="w-10 h-10 object-fill rounded-full"
                                [src]="data.image ? data.image : '../../assets/images/3970786.jpg'" alt="">
                        </td>
                        <td class="text-gray-700 dark:text-gray-300 group-hover:bg-gray-100 dark:group-hover:bg-gray-900"
                            style="white-space: nowrap;">
                            {{ data.name }}
                        </td>
                        <td class="text-gray-700 dark:text-gray-300 group-hover:bg-gray-100 dark:group-hover:bg-gray-900"
                            style="white-space: nowrap;">
                            {{ data.classname }}
                        </td>
                        <td class="text-gray-700 dark:text-gray-300 group-hover:bg-gray-100 dark:group-hover:bg-gray-900"
                            style="white-space: nowrap;">
                            {{ data.book_name }}
                        </td>
                        <td class="text-gray-700 dark:text-gray-300 group-hover:bg-gray-100 dark:group-hover:bg-gray-900"
                            style="white-space: nowrap;">
                            {{data.correct}}/{{data.total}}
                        </td>
                        <td class="text-gray-700 dark:text-gray-300 group-hover:bg-gray-100 dark:group-hover:bg-gray-900"
                            style="white-space: nowrap;">
                            {{(10-data.min).toString().padStart(2, '0')}}:{{(59-data.sec).toString().padStart(2, '0')}}
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>

        <nz-dropdown-menu #menu="nzDropdownMenu">
            <div class="ant-table-filter-dropdown bg-white dark:bg-gray-700 shadow-lg rounded-md p-3">
                <div class="search-box">
                    <input (keyup)="search()" (keydown)="search()" (change)="search()" [(ngModel)]="searchName"
                        type="text" nz-input placeholder="Search Name Or Email"
                        class="w-full px-3 py-2 border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 rounded-md text-gray-700 dark:text-gray-300" />
                </div>
            </div>
        </nz-dropdown-menu>
        <nz-dropdown-menu #class="nzDropdownMenu">
            <div class="ant-table-filter-dropdown bg-white dark:bg-gray-700 shadow-lg rounded-md p-3">
                <div class="search-box">
                    <input (keyup)="search()" (keydown)="search()" (change)="search()" [(ngModel)]="searchClass"
                        type="text" nz-input placeholder="Search Class Name"
                        class="w-full px-3 py-2 border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 rounded-md text-gray-700 dark:text-gray-300" />
                </div>
            </div>
        </nz-dropdown-menu>
        <nz-dropdown-menu #book="nzDropdownMenu">
            <div class="ant-table-filter-dropdown bg-white dark:bg-gray-700 shadow-lg rounded-md p-3">
                <div class="search-box">
                    <input (keyup)="search()" (keydown)="search()" (change)="search()" [(ngModel)]="searchBook"
                        type="text" nz-input placeholder="Search Book Name"
                        class="w-full px-3 py-2 border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 rounded-md text-gray-700 dark:text-gray-300" />
                </div>
            </div>
        </nz-dropdown-menu>
    </section>


</section>