<nz-layout class="layout ">
  <nz-sider [nzCollapsedWidth]="48" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul class="min-h-[calc(100vh-5rem)]" nz-menu [nzTheme]="theme" nzMode="inline">
      <div class="flex justify-end px-3 py-1">

        <div class=" w-fit overflow-hidden">
          <label nzTooltipTitle="Collapsed" nzTooltipPlacement="right" [nzTooltipColor]="'black'" nz-tooltip
            class="container">
            <input [checked]="" (change)="colbtn()" [(ngModel)]="isCollapsed" type="checkbox">
            <div class="checkmark"></div>
          </label>
        </div>
      </div>
      <li routerLink="Dashboard" class="dbli1" nz-menu-item nzSelected>
        <span nz-icon nzType="dashboard" class="maindashboardhomeicon" nzTheme="outline"></span>
        <span>Dashboard</span>
      </li>
      <li nz-submenu nzTitle="MCQs" nzIcon="question-circle">
        <ul>
          <li routerLink="AddMcqs" nz-menu-item>Add New MCQs</li>
          <li *ngFor="let class of classes" (click)="navegatertomcq(class.uid)" nz-menu-item>{{class.classname}} MCQs
            List</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Classes" nzIcon="ci-circle">
        <ul>
          <li nz-menu-item routerLink="New-Class">Add Class</li>
          <li nz-menu-item routerLink="Class-List">Class List</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Books" nzIcon="book">
        <ul>
          <li routerLink="Books" nz-menu-item>Add New Book</li>
          <li *ngFor="let class of classes" (click)="navegatertobook(class.uid)" nz-menu-item>{{class.classname}} Books
            List</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Chapters" nzIcon="read">
        <ul>
          <li routerLink="Chapters" nz-menu-item>Add New Chapters</li>
          <li *ngFor="let class of classes" nz-submenu [nzTitle]="class.classname + ' Book List'"
            (nzOpenChange)="getBooks(class.uid)">
            <ul>
              <li *ngFor="let book of books[class.uid]" (click)="navegatertochapters(class.uid,book.uid)" nz-menu-item>
                {{ book.book_name }}</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Questions" nzIcon="question">
        <ul>
          <li routerLink="Add-Questions" nz-menu-item>Add New Questions</li>
          <li *ngFor="let class of classes" nz-submenu [nzTitle]="class.classname + ' Book List'"
            (nzOpenChange)="getBooks(class.uid)">
            <ul>
              <li *ngFor="let book of books[class.uid]" (click)="navegatertoquestion(class.uid,book.uid)" nz-menu-item>
                {{ book.book_name }}</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Paperas" nzIcon="file-done">
        <ul>
          <li nz-submenu nzTitle="Generate Paper" >
            <ul>
              <li nz-menu-item> Custom Generate</li>
              <li nz-menu-item routerLink="Auto-Generate-Paper"> Auto Generate</li>
            </ul>
          </li>
          <li *ngFor="let class of classes" nz-menu-item>{{class.classname}} Books
            List</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Paperas Schemas" nzIcon="schedule">
        <ul>
          <li routerLink="Generate-Schemas" nz-menu-item>Add New Schemas</li>
          <li routerLink="List-Schemas" nz-menu-item>List Schemas</li>
          <!-- <li *ngFor="let class of classes" nz-submenu [nzTitle]="class.classname + ' Book List'"
            (nzOpenChange)="getBooks(class.uid)">
            <ul>
              <li *ngFor="let book of books[class.uid]" nz-menu-item>
                {{ book.book_name }}</li>
            </ul>
          </li> -->
        </ul>
      </li>
    </ul>
  </nz-sider>
</nz-layout>