<main class="">
    <div
        class=" bg-gray-300 dark:bg-gray-900  dark:text-white min-h-[calc(100vh-80px)] text-gray-900 flex items-center justify-center">
        <div id="loaderdiv2" class="w-full relative nzspin dark:nzspin  max-w-md md:max-w-5xl  px-3">
            <nz-spin *ngIf="loader" class="top-1/2 z-50 left-1/2 absolute transform -translate-x-1/2 -translate-y-1/2"
            [nzSize]="'large'" nzSimple></nz-spin>
            <form [formGroup]="form" (ngSubmit)="onSubmit()"
                class="bg-gray-200 my-3 dark:bg-gray-800 p-6 rounded-lg shadow-lg space-y-4">
                <h2 class="text-2xl w-full font-sans text-center font-bold dark:text-gray-200 text-gray-900">Generate
                    Schema</h2>
                <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0">
                    <div class="w-full">
                        <label for="classname" class="block mb-1">Class Name</label>
                        <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                            (ngModelChange)="getbooks($event)" [nzSize]="inputsize" id="classname" nzShowSearch
                            nzAllowClear nzPlaceHolder="Select Class Name" formControlName="classname">
                            <div *ngFor="let class of classes">
                                <nz-option nzLabel={{class.classname}} nzValue={{class.uid}}></nz-option>
                            </div>
                        </nz-select>
                    </div>
                    <div class="w-full">
                        <label for="bookname" class="block mb-1">Book Name</label>
                        <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                            (ngModelChange)="getchapters($event)" [nzSize]="inputsize" id="bookname" nzShowSearch
                            nzAllowClear nzPlaceHolder="Select Book" formControlName="bookname">
                            <div *ngFor="let Book of Books">
                                <nz-option nzLabel={{Book.book_name}} nzValue={{Book.uid}}></nz-option>
                            </div>
                        </nz-select>
                    </div>
                    <div class="w-full">
                        <label for="testtype" class="block mb-1">Test Type</label>
                        <nz-select class="w-full ngselectbn bookselected dark:bookselected" [nzSize]="inputsize"
                            id="testtype" nzShowSearch nzAllowClear nzPlaceHolder="Select Chapter"
                            formControlName="testtype">
                            <nz-option nzLabel='Full Book' nzValue='Full Book'></nz-option>
                            <nz-option nzLabel='Select Chapter' nzValue='Select Chapter'></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0">
                    <div *ngIf="form.value?.testtype === 'Select Chapter'" class="w-full">
                        <label for="chapternames" class="block mb-1">Chapter</label>
                        <nz-select class="w-full ngselectbn dark:multiselect bookselected dark:bookselected"
                            [nzSize]="inputsize" id="chapternames" nzMode="multiple" nzShowSearch nzAllowClear
                            nzPlaceHolder="Select Chapter" formControlName="chapternames">
                            <nz-option *ngFor="let Chapter of Chapters" [nzLabel]="Chapter.title"
                                [nzValue]="Chapter.uid">
                            </nz-option>
                        </nz-select>
                    </div>
                    <div class="w-full">
                        <label for="portions" class="block mb-1">Short Question Portions</label>
                        <nz-select class="w-full ngselectbn bookselected dark:bookselected" [nzSize]="inputsize"
                            id="portions" nzShowSearch nzAllowClear nzPlaceHolder="Select Type"
                            formControlName="portions">
                            <nz-option nzLabel="One" nzValue="1"></nz-option>
                            <nz-option nzLabel="Two" nzValue="2"></nz-option>
                            <nz-option nzLabel="Three" nzValue="3"></nz-option>
                        </nz-select>
                    </div>
                    <div class="w-full">
                        <label for="longportion" class="block mb-1">Long Question Portions</label>
                        <nz-select class="w-full ngselectbn bookselected dark:bookselected" [nzSize]="inputsize"
                            id="longportion" nzShowSearch nzAllowClear nzPlaceHolder="Select Type"
                            formControlName="longportions">
                            <nz-option nzLabel="One" nzValue="1"></nz-option>
                            <nz-option nzLabel="Two" nzValue="2"></nz-option>
                            <nz-option nzLabel="Three" nzValue="3"></nz-option>
                            <nz-option nzLabel="Four" nzValue="4"></nz-option>
                            <nz-option nzLabel="Five" nzValue="5"></nz-option>
                            <nz-option nzLabel="Six" nzValue="6"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div *ngIf="form.value?.portions"
                    class="w-full dark:bg-[#0003] bg-gray-300 p-4 space-y-4 pb-8 rounded-lg">
                    <h2 class="text-lg w-full font-sans text-center font-bold dark:text-gray-200 py-3 text-gray-900">
                        Short Questions
                    </h2>
                    <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0">
                        <div *ngIf="form.value?.portions === '1' || form.value?.portions === '2' || form.value?.portions === '3'"
                            class="w-full">
                            <label for="questioninsortportion1" class="block mb-1">Question in Portion One</label>
                            <input
                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                id="questioninsortportion1" formControlName="questioninsortportion1" type="number"
                                [nzSize]="inputsize" nz-input />
                        </div>
                        <div *ngIf="form.value?.portions === '2' || form.value?.portions === '3'" class="w-full">
                            <label for="questioninsortportion2" class="block mb-1">Question in Portion Two</label>
                            <input
                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                id="questioninsortportion2" formControlName="questioninsortportion2" type="number"
                                [nzSize]="inputsize" nz-input />
                        </div>
                        <div *ngIf="form.value?.portions === '3'" class="w-full">
                            <label for="questioninsortportion3" class="block mb-1">Question in Portion Three</label>
                            <input
                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                id="questioninsortportion3" formControlName="questioninsortportion3" type="number"
                                [nzSize]="inputsize" nz-input />
                        </div>
                    </div>
                    <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0">
                        <div *ngIf="form.value?.portions === '1' || form.value?.portions === '2' || form.value?.portions === '3'"
                            class="w-full">
                            <label for="choiceinsortportion1" class="block mb-1">Choice in Portion One</label>
                            <input
                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                id="choiceinsortportion1" formControlName="choiceinsortportion1" type="number"
                                [nzSize]="inputsize" nz-input />
                        </div>
                        <div *ngIf="form.value?.portions === '2' || form.value?.portions === '3'" class="w-full">
                            <label for="choiceinsortportion2" class="block mb-1">Choice in Portion Two</label>
                            <input
                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                id="choiceinsortportion2" formControlName="choiceinsortportion2" type="number"
                                [nzSize]="inputsize" nz-input />
                        </div>
                        <div *ngIf="form.value?.portions === '3'" class="w-full">
                            <label for="choiceinsortportion3" class="block mb-1">Choice in Portion Three</label>
                            <input
                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                id="choiceinsortportion3" formControlName="choiceinsortportion3" type="number"
                                [nzSize]="inputsize" nz-input />
                        </div>
                    </div>
                </div>
                <div *ngIf="form.value?.longportions"
                    class="w-full space-y-4 dark:bg-[#0003] bg-gray-300 p-4 pb-8 rounded-lg">
                    <h2 class="text-lg w-full font-sans text-center font-bold dark:text-gray-200 pt-3 text-gray-900">
                        Long Questions</h2>
                    <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0">
                        <div *ngIf="form.value?.longportions === '1' || form.value?.longportions === '2' || form.value?.longportions === '3' || form.value?.longportions === '4' || form.value?.longportions === '5' || form.value?.longportions === '6'"
                            class="w-full">
                            <div class="w-full">
                                <label for="longquestion1" class="block mb-1">Long Questions One</label>
                                <input
                                    class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                    id="longquestion1" formControlName="longquestion1" type="number"
                                    [nzSize]="inputsize" nz-input />
                            </div>
                        </div>
                        <div *ngIf="form.value?.longportions === '2' || form.value?.longportions === '3' || form.value?.longportions === '4' || form.value?.longportions === '5' || form.value?.longportions === '6'"
                            class="w-full">
                            <div class="w-full">
                                <label for="longquestion2" class="block mb-1">Long Questions Two</label>
                                <input
                                    class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                    id="longquestion2" formControlName="longquestion2" type="number"
                                    [nzSize]="inputsize" nz-input />
                            </div>
                        </div>
                        <div *ngIf="form.value?.longportions === '3' || form.value?.longportions === '4' || form.value?.longportions === '5' || form.value?.longportions === '6'"
                            class="w-full">
                            <div class="w-full">
                                <label for="longquestion3" class="block mb-1">Long Questions Three</label>
                                <input
                                    class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                    id="longquestion3" formControlName="longquestion3" type="number"
                                    [nzSize]="inputsize" nz-input />
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0">
                        <div *ngIf="form.value?.longportions === '4' || form.value?.longportions === '5' || form.value?.longportions === '6'"
                            class="w-full">
                            <div class="w-full">
                                <label for="longquestion4" class="block mb-1">Long Questions Four</label>
                                <input
                                    class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                    id="longquestion4" formControlName="longquestion4" type="number"
                                    [nzSize]="inputsize" nz-input />
                            </div>
                        </div>
                        <div *ngIf="form.value?.longportions === '5' || form.value?.longportions === '6'"
                            class="w-full">
                            <div class="w-full">
                                <label for="longquestion5" class="block mb-1">Long Questions Five</label>
                                <input
                                    class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                    id="longquestion5" formControlName="longquestion5" type="number"
                                    [nzSize]="inputsize" nz-input />
                            </div>
                        </div>
                        <div *ngIf="form.value?.longportions === '6'" class="w-full">
                            <div class="w-full">
                                <label for="longquestion6" class="block mb-1">Long Questions Six</label>
                                <input
                                    class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                    id="longquestion6" formControlName="longquestion6" type="number"
                                    [nzSize]="inputsize" nz-input />
                            </div>
                        </div>
                    </div>
                    <div *ngIf="form.value?.longportions === '2' || form.value?.longportions === '3' || form.value?.longportions === '4' || form.value?.longportions === '5' || form.value?.longportions === '6'"
                        class="w-full">
                        <div class="w-full">
                            <label for="choiceinlongquestions" class="block mb-1">Choice in Long Questions</label>
                            <input
                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                id="choiceinlongquestions" formControlName="choiceinlongquestions" type="number"
                                [nzSize]="inputsize" nz-input />
                        </div>
                    </div>
                </div>
                <div *ngIf="selecttedchapters?.length > 0" class="w-full  space-y-4 ">
                    <div *ngIf="form.value?.portions === '1' || form.value?.portions === '2' || form.value?.portions === '3'"
                        class="w-full dark:bg-[#0003] bg-gray-300 p-4 pb-8 rounded-lg">
                        <h2
                            class="text-lg w-full font-sans text-center font-bold dark:text-gray-200 py-3 text-gray-900">
                            Schema Off Short Question One</h2>
                        <div formArrayName="questioninsortportion1schema" class="w-full space-y-4">
                            <div class="flex justify-between w-full">
                                <button type="button" (click)="addChapter1schema()" nz-icon nzType="plus"
                                    nzTheme="outline"
                                    class="dark:bg-[#ffff00] dark:text-gray-900 font-bold text-gray-100 bg-gray-800 p-2 rounded-md">
                                </button>
                            </div>
                            <div *ngFor="let row of questioninsortportion1schema.controls; let i = index"
                                [formGroupName]="i" class="w-full space-y-4">
                                <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0 md:items-center">
                                    <div class="w-full ">
                                        <label for="chaptername{{i}}" class="block mb-1">Chapter</label>
                                        <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                            [nzSize]="inputsize" id="chaptername{{i}}" nzShowSearch nzAllowClear
                                            nzPlaceHolder="Select Chapter" formControlName="chaptername">
                                            <nz-option *ngFor="let ch of selecttedchapters" [nzLabel]="ch.title"
                                                [nzValue]="ch.uid"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div class="w-full ">
                                        <label for="questiontype{{i}}" class="block mb-1">Type</label>
                                        <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                            [nzSize]="inputsize" id="questiontype{{i}}" nzShowSearch nzAllowClear
                                            nzPlaceHolder="Select Type" formControlName="questiontype">
                                            <nz-option nzLabel="Easy" nzValue="Easy"></nz-option>
                                            <nz-option nzLabel="Medium" nzValue="Medium"></nz-option>
                                            <nz-option nzLabel="Hard" nzValue="Hard"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div class="w-full">
                                        <label for="questionquantity{{i}}" class="block mb-1">Questions</label>
                                        <input
                                            class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                            id="questionquantity{{i}}" formControlName="questionquantity" type="number"
                                            [nzSize]="inputsize" nz-input />
                                    </div>
                                    <button type="button" (click)="removeChapter1schema(i)"
                                        class="w-8 m-auto md:!pt-5 text-red-500 text-md">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="form.value?.portions === '2' || form.value?.portions === '3'"
                        class="w-full dark:bg-[#0003] bg-gray-300 p-4 pb-8 rounded-lg">
                        <h2
                            class="text-lg w-full font-sans text-center font-bold dark:text-gray-200 py-3 text-gray-900">
                            Schema Off Short Question Two</h2>
                        <div formArrayName="questioninsortportion2schema" class="w-full space-y-4">
                            <div class="flex justify-between w-full">
                                <button type="button" (click)="addChapter2schema()" nz-icon nzType="plus"
                                    nzTheme="outline"
                                    class="dark:bg-[#ffff00] dark:text-gray-900 font-bold text-gray-100 bg-gray-800 p-2 rounded-md">
                                </button>
                            </div>
                            <div *ngFor="let row of questioninsortportion2schema.controls; let i = index"
                                [formGroupName]="i" class="w-full space-y-4">
                                <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0 md:items-center">
                                    <div class="w-full ">
                                        <label for="chaptername{{i}}" class="block mb-1">Chapter</label>
                                        <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                            [nzSize]="inputsize" id="chaptername{{i}}" nzShowSearch nzAllowClear
                                            nzPlaceHolder="Select Chapter" formControlName="chaptername">
                                            <nz-option *ngFor="let ch of selecttedchapters" [nzLabel]="ch.title"
                                                [nzValue]="ch.uid"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div class="w-full ">
                                        <label for="questiontype{{i}}" class="block mb-1">Type</label>
                                        <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                            [nzSize]="inputsize" id="questiontype{{i}}" nzShowSearch nzAllowClear
                                            nzPlaceHolder="Select Type" formControlName="questiontype">
                                            <nz-option nzLabel="Easy" nzValue="Easy"></nz-option>
                                            <nz-option nzLabel="Medium" nzValue="Medium"></nz-option>
                                            <nz-option nzLabel="Hard" nzValue="Hard"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div class="w-full">
                                        <label for="questionquantity{{i}}" class="block mb-1">Questions</label>
                                        <input
                                            class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                            id="questionquantity{{i}}" formControlName="questionquantity" type="number"
                                            [nzSize]="inputsize" nz-input />
                                    </div>
                                    <button type="button" (click)="removeChapter2schema(i)"
                                        class="w-8 m-auto md:!pt-5 text-red-500 text-md">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="form.value?.portions === '3'"
                        class="w-full dark:bg-[#0003] bg-gray-300 p-4 pb-8 rounded-lg">
                        <h2
                            class="text-lg w-full font-sans text-center font-bold dark:text-gray-200 py-3 text-gray-900">
                            Schema Off Short Question Three</h2>
                            <div formArrayName="questioninsortportion3schema" class="w-full space-y-4">
                                <div class="flex justify-between w-full">
                                    <button type="button" (click)="addChapter3schema()" nz-icon nzType="plus" nzTheme="outline"
                                        class="dark:bg-[#ffff00] dark:text-gray-900 font-bold text-gray-100 bg-gray-800 p-2 rounded-md">
                                    </button>
                                </div>
                                <div *ngFor="let row of questioninsortportion3schema.controls; let i = index" [formGroupName]="i"
                                    class="w-full space-y-4">
                                    <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0 md:items-center">
                                        <div class="w-full ">
                                            <label for="chaptername{{i}}" class="block mb-1">Chapter</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="chaptername{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Chapter" formControlName="chaptername">
                                                <nz-option *ngFor="let ch of selecttedchapters" [nzLabel]="ch.title"
                                                    [nzValue]="ch.uid"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full ">
                                            <label for="questiontype{{i}}" class="block mb-1">Type</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="questiontype{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Type" formControlName="questiontype">
                                                <nz-option nzLabel="Easy" nzValue="Easy"></nz-option>
                                                <nz-option nzLabel="Medium" nzValue="Medium"></nz-option>
                                                <nz-option nzLabel="Hard" nzValue="Hard"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full">
                                            <label for="questionquantity{{i}}" class="block mb-1">Questions</label>
                                            <input
                                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                                id="questionquantity{{i}}" formControlName="questionquantity" type="number"
                                                [nzSize]="inputsize" nz-input />
                                        </div>
                                        <button type="button" (click)="removeChapter3schema(i)"
                                            class="w-8 m-auto md:!pt-5 text-red-500 text-md">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>





                
                <div *ngIf="selecttedchapters?.length > 0" class="w-full  space-y-4 ">
                    <div *ngIf="form.value?.longportions === '1' || form.value?.longportions === '2' || form.value?.longportions === '3' || form.value?.longportions === '4' || form.value?.longportions === '5' || form.value?.longportions === '6'"
                        class="w-full dark:bg-[#0003] bg-gray-300 p-4 pb-8 rounded-lg">
                        <h2
                            class="text-lg w-full font-sans text-center font-bold dark:text-gray-200 py-3 text-gray-900">
                            Schema Off Long Question One</h2>
                            <div formArrayName="questioninlongportion1schema" class="w-full space-y-4">
                                <div class="flex justify-between w-full">
                                    <button type="button" (click)="addlongquestionschema1()" nz-icon nzType="plus" nzTheme="outline"
                                        class="dark:bg-[#ffff00] dark:text-gray-900 font-bold text-gray-100 bg-gray-800 p-2 rounded-md">
                                    </button>
                                </div>
                                <div *ngFor="let row of questioninlongportion1schema.controls; let i = index" [formGroupName]="i"
                                    class="w-full space-y-4">
                                    <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0 md:items-center">
                                        <div class="w-full ">
                                            <label for="chaptername{{i}}" class="block mb-1">Chapter</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="chaptername{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Chapter" formControlName="chaptername">
                                                <nz-option *ngFor="let ch of selecttedchapters" [nzLabel]="ch.title"
                                                    [nzValue]="ch.uid"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full ">
                                            <label for="questiontype{{i}}" class="block mb-1">Type</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="questiontype{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Type" formControlName="questiontype">
                                                <nz-option nzLabel="Easy" nzValue="Easy"></nz-option>
                                                <nz-option nzLabel="Medium" nzValue="Medium"></nz-option>
                                                <nz-option nzLabel="Hard" nzValue="Hard"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full">
                                            <label for="questionquantity{{i}}" class="block mb-1">Questions</label>
                                            <input
                                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                                id="questionquantity{{i}}" formControlName="questionquantity" type="number"
                                                [nzSize]="inputsize" nz-input />
                                        </div>
                                        <button type="button" (click)="removelongquestionschema1(i)"
                                            class="w-8 m-auto md:!pt-5 text-red-500 text-md">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div *ngIf="form.value?.longportions === '2' || form.value?.longportions === '3' || form.value?.longportions === '4' || form.value?.longportions === '5' || form.value?.longportions === '6'"
                        class="w-full dark:bg-[#0003] bg-gray-300 p-4 pb-8 rounded-lg">
                        <h2
                            class="text-lg w-full font-sans text-center font-bold dark:text-gray-200 py-3 text-gray-900">
                            Schema Off Long Question Two</h2>
                            <div formArrayName="questioninlongportion2schema" class="w-full space-y-4">
                                <div class="flex justify-between w-full">
                                    <button type="button" (click)="addlongquestionschema2()" nz-icon nzType="plus" nzTheme="outline"
                                        class="dark:bg-[#ffff00] dark:text-gray-900 font-bold text-gray-100 bg-gray-800 p-2 rounded-md">
                                    </button>
                                </div>
                                <div *ngFor="let row of questioninlongportion2schema.controls; let i = index" [formGroupName]="i"
                                    class="w-full space-y-4">
                                    <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0 md:items-center">
                                        <div class="w-full ">
                                            <label for="chaptername{{i}}" class="block mb-1">Chapter</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="chaptername{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Chapter" formControlName="chaptername">
                                                <nz-option *ngFor="let ch of selecttedchapters" [nzLabel]="ch.title"
                                                    [nzValue]="ch.uid"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full ">
                                            <label for="questiontype{{i}}" class="block mb-1">Type</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="questiontype{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Type" formControlName="questiontype">
                                                <nz-option nzLabel="Easy" nzValue="Easy"></nz-option>
                                                <nz-option nzLabel="Medium" nzValue="Medium"></nz-option>
                                                <nz-option nzLabel="Hard" nzValue="Hard"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full">
                                            <label for="questionquantity{{i}}" class="block mb-1">Questions</label>
                                            <input
                                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                                id="questionquantity{{i}}" formControlName="questionquantity" type="number"
                                                [nzSize]="inputsize" nz-input />
                                        </div>
                                        <button type="button" (click)="removelongquestionschema2(i)"
                                            class="w-8 m-auto md:!pt-5 text-red-500 text-md">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div *ngIf="form.value?.longportions === '3' || form.value?.longportions === '4' || form.value?.longportions === '5' || form.value?.longportions === '6'"
                        class="w-full dark:bg-[#0003] bg-gray-300 p-4 pb-8 rounded-lg">
                        <h2
                            class="text-lg w-full font-sans text-center font-bold dark:text-gray-200 py-3 text-gray-900">
                            Schema Off Long Question Three</h2>
                            <div formArrayName="questioninlongportion3schema" class="w-full space-y-4">
                                <div class="flex justify-between w-full">
                                    <button type="button" (click)="addlongquestionschema3()" nz-icon nzType="plus" nzTheme="outline"
                                        class="dark:bg-[#ffff00] dark:text-gray-900 font-bold text-gray-100 bg-gray-800 p-2 rounded-md">
                                    </button>
                                </div>
                                <div *ngFor="let row of questioninlongportion3schema.controls; let i = index" [formGroupName]="i"
                                    class="w-full space-y-4">
                                    <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0 md:items-center">
                                        <div class="w-full ">
                                            <label for="chaptername{{i}}" class="block mb-1">Chapter</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="chaptername{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Chapter" formControlName="chaptername">
                                                <nz-option *ngFor="let ch of selecttedchapters" [nzLabel]="ch.title"
                                                    [nzValue]="ch.uid"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full ">
                                            <label for="questiontype{{i}}" class="block mb-1">Type</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="questiontype{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Type" formControlName="questiontype">
                                                <nz-option nzLabel="Easy" nzValue="Easy"></nz-option>
                                                <nz-option nzLabel="Medium" nzValue="Medium"></nz-option>
                                                <nz-option nzLabel="Hard" nzValue="Hard"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full">
                                            <label for="questionquantity{{i}}" class="block mb-1">Questions</label>
                                            <input
                                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                                id="questionquantity{{i}}" formControlName="questionquantity" type="number"
                                                [nzSize]="inputsize" nz-input />
                                        </div>
                                        <button type="button" (click)="removelongquestionschema3(i)"
                                            class="w-8 m-auto md:!pt-5 text-red-500 text-md">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div *ngIf=" form.value?.longportions === '4' || form.value?.longportions === '5' || form.value?.longportions === '6'"
                        class="w-full dark:bg-[#0003] bg-gray-300 p-4 pb-8 rounded-lg">
                        <h2
                            class="text-lg w-full font-sans text-center font-bold dark:text-gray-200 py-3 text-gray-900">
                            Schema Off Long Question Four</h2>
                            <div formArrayName="questioninlongportion4schema" class="w-full space-y-4">
                                <div class="flex justify-between w-full">
                                    <button type="button" (click)="addlongquestionschema4()" nz-icon nzType="plus" nzTheme="outline"
                                        class="dark:bg-[#ffff00] dark:text-gray-900 font-bold text-gray-100 bg-gray-800 p-2 rounded-md">
                                    </button>
                                </div>
                                <div *ngFor="let row of questioninlongportion4schema.controls; let i = index" [formGroupName]="i"
                                    class="w-full space-y-4">
                                    <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0 md:items-center">
                                        <div class="w-full ">
                                            <label for="chaptername{{i}}" class="block mb-1">Chapter</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="chaptername{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Chapter" formControlName="chaptername">
                                                <nz-option *ngFor="let ch of selecttedchapters" [nzLabel]="ch.title"
                                                    [nzValue]="ch.uid"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full ">
                                            <label for="questiontype{{i}}" class="block mb-1">Type</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="questiontype{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Type" formControlName="questiontype">
                                                <nz-option nzLabel="Easy" nzValue="Easy"></nz-option>
                                                <nz-option nzLabel="Medium" nzValue="Medium"></nz-option>
                                                <nz-option nzLabel="Hard" nzValue="Hard"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full">
                                            <label for="questionquantity{{i}}" class="block mb-1">Questions</label>
                                            <input
                                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                                id="questionquantity{{i}}" formControlName="questionquantity" type="number"
                                                [nzSize]="inputsize" nz-input />
                                        </div>
                                        <button type="button" (click)="removelongquestionschema4(i)"
                                            class="w-8 m-auto md:!pt-5 text-red-500 text-md">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div *ngIf="form.value?.longportions === '5' || form.value?.longportions === '6'"
                        class="w-full dark:bg-[#0003] bg-gray-300 p-4 pb-8 rounded-lg">
                        <h2
                            class="text-lg w-full font-sans text-center font-bold dark:text-gray-200 py-3 text-gray-900">
                            Schema Off Long Question Five</h2>
                            <div formArrayName="questioninlongportion5schema" class="w-full space-y-4">
                                <div class="flex justify-between w-full">
                                    <button type="button" (click)="addlongquestionschema5()" nz-icon nzType="plus" nzTheme="outline"
                                        class="dark:bg-[#ffff00] dark:text-gray-900 font-bold text-gray-100 bg-gray-800 p-2 rounded-md">
                                    </button>
                                </div>
                                <div *ngFor="let row of questioninlongportion5schema.controls; let i = index" [formGroupName]="i"
                                    class="w-full space-y-4">
                                    <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0 md:items-center">
                                        <div class="w-full ">
                                            <label for="chaptername{{i}}" class="block mb-1">Chapter</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="chaptername{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Chapter" formControlName="chaptername">
                                                <nz-option *ngFor="let ch of selecttedchapters" [nzLabel]="ch.title"
                                                    [nzValue]="ch.uid"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full ">
                                            <label for="questiontype{{i}}" class="block mb-1">Type</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="questiontype{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Type" formControlName="questiontype">
                                                <nz-option nzLabel="Easy" nzValue="Easy"></nz-option>
                                                <nz-option nzLabel="Medium" nzValue="Medium"></nz-option>
                                                <nz-option nzLabel="Hard" nzValue="Hard"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full">
                                            <label for="questionquantity{{i}}" class="block mb-1">Questions</label>
                                            <input
                                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                                id="questionquantity{{i}}" formControlName="questionquantity" type="number"
                                                [nzSize]="inputsize" nz-input />
                                        </div>
                                        <button type="button" (click)="removelongquestionschema5(i)"
                                            class="w-8 m-auto md:!pt-5 text-red-500 text-md">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div *ngIf=" form.value?.longportions === '6'"
                        class="w-full dark:bg-[#0003] bg-gray-300 p-4 pb-8 rounded-lg">
                        <h2
                            class="text-lg w-full font-sans text-center font-bold dark:text-gray-200 py-3 text-gray-900">
                            Schema Off Long Question Six</h2>
                            <div formArrayName="questioninlongportion6schema" class="w-full space-y-4">
                                <div class="flex justify-between w-full">
                                    <button type="button" (click)="addlongquestionschema6()" nz-icon nzType="plus" nzTheme="outline"
                                        class="dark:bg-[#ffff00] dark:text-gray-900 font-bold text-gray-100 bg-gray-800 p-2 rounded-md">
                                    </button>
                                </div>
                                <div *ngFor="let row of questioninlongportion6schema.controls; let i = index" [formGroupName]="i"
                                    class="w-full space-y-4">
                                    <div class="w-full md:flex md:space-x-4 space-y-4 md:space-y-0 md:items-center">
                                        <div class="w-full ">
                                            <label for="chaptername{{i}}" class="block mb-1">Chapter</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="chaptername{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Chapter" formControlName="chaptername">
                                                <nz-option *ngFor="let ch of selecttedchapters" [nzLabel]="ch.title"
                                                    [nzValue]="ch.uid"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full ">
                                            <label for="questiontype{{i}}" class="block mb-1">Type</label>
                                            <nz-select class="w-full ngselectbn bookselected dark:bookselected"
                                                [nzSize]="inputsize" id="questiontype{{i}}" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select Type" formControlName="questiontype">
                                                <nz-option nzLabel="Easy" nzValue="Easy"></nz-option>
                                                <nz-option nzLabel="Medium" nzValue="Medium"></nz-option>
                                                <nz-option nzLabel="Hard" nzValue="Hard"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="w-full">
                                            <label for="questionquantity{{i}}" class="block mb-1">Questions</label>
                                            <input
                                                class="rounded-lg dark:text-gray-100 bg-gray-100 !shadow-none !border-0 dark:bg-gray-700"
                                                id="questionquantity{{i}}" formControlName="questionquantity" type="number"
                                                [nzSize]="inputsize" nz-input />
                                        </div>
                                        <button type="button" (click)="removelongquestionschema6(i)"
                                            class="w-8 m-auto md:!pt-5 text-red-500 text-md">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>



                <div class="mb-4 w-full">
                    <label for="schemaname" class="block text-gray-700 dark:text-gray-300 font-medium mb-2">Schema
                        Name</label>
                    <textarea nz-input id="schemaname" formControlName="schemaname" rows="5"
                        placeholder="Enter Schema Name"
                        class="w-full bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100 px-3 py-2 rounded-md !border-0 !shadow-none"></textarea>
                </div>
                <div class="w-full grid place-items-center">
                    <button type="submit"
                        class="w-32 text-gray-200 p-2 rounded bg-gray-800 dark:bg-gray-950 dark:hover:text-gray-950 hover:bg-gray-900 dark:hover:bg-[#ffff00] focus:outline-none  ">Generate Schema</button>
                </div>
            </form>
        </div>
    </div>
</main>