<section class="mx-auto max-w-[1500px]">
  <div class="swiper mx-auto">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <li class="card !bg-slate-100 dark:!bg-slate-800">
          <div class=" ">
            <img class="border-2 dark:!border-[#ffff00] border-gray-400 !rounded-full h-20 w-20"
              src="../../assets/images/1.jpg" alt="img" draggable="true">
          </div>
          <h2 class="dark:!text-gray-300 !text-gray-800">Curriculum and Syllabus</h2>
          <span class="dark:!text-gray-400 !text-xs !text-gray-800 text-center"> Course objectives and learning outcomes
          </span>
          <div role="button" aria-label="Apply Now"
            class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] group dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7 py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950 transform transition-transform  hover:scale-105">
            <span class="dark:btnsend btnsend !text-sm">
              Apply Now
            </span>
            <i class="fa-solid fa-arrow-right transition-colors duration-200 
              text-gray-900 group-hover:text-gray-200 dark:text-[#ffff00] 
              group-hover:dark:text-gray-900 buttonbg dark:buttonbg"></i>
          </div>
        </li>
      </div>
      <div class="swiper-slide">
        <li class="card !bg-slate-100 dark:!bg-slate-800">
          <div class=" ">
            <img class="border-2 dark:!border-[#ffff00] border-gray-400 !rounded-full h-20 w-20"
              src="../../assets/images/1.jpg" alt="img" draggable="true">
          </div>
          <h2 class="dark:!text-gray-300 !text-gray-800">Curriculum and Syllabus</h2>
          <span class="dark:!text-gray-400 !text-xs !text-gray-800 text-center"> Course objectives and learning outcomes
          </span>
          <div role="button" aria-label="Apply Now"
            class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] group dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7 py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950 transform transition-transform  hover:scale-105">
            <span class="dark:btnsend btnsend !text-sm">
              Apply Now
            </span>
            <i class="fa-solid fa-arrow-right transition-colors duration-200 
              text-gray-900 group-hover:text-gray-200 dark:text-[#ffff00] 
              group-hover:dark:text-gray-900 buttonbg dark:buttonbg"></i>
          </div>
        </li>
      </div>
      <div class="swiper-slide">
        <li class="card !bg-slate-100 dark:!bg-slate-800">
          <div class=" ">
            <img class="border-2 dark:!border-[#ffff00] border-gray-400 !rounded-full h-20 w-20"
              src="../../assets/images/1.jpg" alt="img" draggable="true">
          </div>
          <h2 class="dark:!text-gray-300 !text-gray-800">Curriculum and Syllabus</h2>
          <span class="dark:!text-gray-400 !text-xs !text-gray-800 text-center"> Course objectives and learning outcomes
          </span>
          <div role="button" aria-label="Apply Now"
            class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] group dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7 py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950 transform transition-transform  hover:scale-105">
            <span class="dark:btnsend btnsend !text-sm">
              Apply Now
            </span>
            <i class="fa-solid fa-arrow-right transition-colors duration-200 
              text-gray-900 group-hover:text-gray-200 dark:text-[#ffff00] 
              group-hover:dark:text-gray-900 buttonbg dark:buttonbg"></i>
          </div>
        </li>
      </div>
      <div class="swiper-slide">
        <li class="card !bg-slate-100 dark:!bg-slate-800">
          <div class=" ">
            <img class="border-2 dark:!border-[#ffff00] border-gray-400 !rounded-full h-20 w-20"
              src="../../assets/images/1.jpg" alt="img" draggable="true">
          </div>
          <h2 class="dark:!text-gray-300 !text-gray-800">Curriculum and Syllabus</h2>
          <span class="dark:!text-gray-400 !text-xs !text-gray-800 text-center"> Course objectives and learning outcomes
          </span>
          <div role="button" aria-label="Apply Now"
            class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] group dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7 py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950 transform transition-transform  hover:scale-105">
            <span class="dark:btnsend btnsend !text-sm">
              Apply Now
            </span>
            <i class="fa-solid fa-arrow-right transition-colors duration-200 
              text-gray-900 group-hover:text-gray-200 dark:text-[#ffff00] 
              group-hover:dark:text-gray-900 buttonbg dark:buttonbg"></i>
          </div>
        </li>
      </div>
      <div class="swiper-slide">
        <li class="card !bg-slate-100 dark:!bg-slate-800">
          <div class=" ">
            <img class="border-2 dark:!border-[#ffff00] border-gray-400 !rounded-full h-20 w-20"
              src="../../assets/images/1.jpg" alt="img" draggable="true">
          </div>
          <h2 class="dark:!text-gray-300 !text-gray-800">Curriculum and Syllabus</h2>
          <span class="dark:!text-gray-400 !text-xs !text-gray-800 text-center"> Course objectives and learning outcomes
          </span>
          <div role="button" aria-label="Apply Now"
            class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] group dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7 py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950 transform transition-transform  hover:scale-105">
            <span class="dark:btnsend btnsend !text-sm">
              Apply Now
            </span>
            <i class="fa-solid fa-arrow-right transition-colors duration-200 
              text-gray-900 group-hover:text-gray-200 dark:text-[#ffff00] 
              group-hover:dark:text-gray-900 buttonbg dark:buttonbg"></i>
          </div>
        </li>
      </div>
      <div class="swiper-slide">
        <li class="card !bg-slate-100 dark:!bg-slate-800">
          <div class=" ">
            <img class="border-2 dark:!border-[#ffff00] border-gray-400 !rounded-full h-20 w-20"
              src="../../assets/images/1.jpg" alt="img" draggable="true">
          </div>
          <h2 class="dark:!text-gray-300 !text-gray-800">Curriculum and Syllabus</h2>
          <span class="dark:!text-gray-400 !text-xs !text-gray-800 text-center"> Course objectives and learning outcomes
          </span>
          <div role="button" aria-label="Apply Now"
            class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] group dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7 py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950 transform transition-transform  hover:scale-105">
            <span class="dark:btnsend btnsend !text-sm">
              Apply Now
            </span>
            <i class="fa-solid fa-arrow-right transition-colors duration-200 
              text-gray-900 group-hover:text-gray-200 dark:text-[#ffff00] 
              group-hover:dark:text-gray-900 buttonbg dark:buttonbg"></i>
          </div>
        </li>
      </div>
      <div class="swiper-slide">
        <li class="card !bg-slate-100 dark:!bg-slate-800">
          <div class=" ">
            <img class="border-2 dark:!border-[#ffff00] border-gray-400 !rounded-full h-20 w-20"
              src="../../assets/images/1.jpg" alt="img" draggable="true">
          </div>
          <h2 class="dark:!text-gray-300 !text-gray-800">Curriculum and Syllabus</h2>
          <span class="dark:!text-gray-400 !text-xs !text-gray-800 text-center"> Course objectives and learning outcomes
          </span>
          <div role="button" aria-label="Apply Now"
            class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] group dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7 py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950 transform transition-transform  hover:scale-105">
            <span class="dark:btnsend btnsend !text-sm">
              Apply Now
            </span>
            <i class="fa-solid fa-arrow-right transition-colors duration-200 
              text-gray-900 group-hover:text-gray-200 dark:text-[#ffff00] 
              group-hover:dark:text-gray-900 buttonbg dark:buttonbg"></i>
          </div>
        </li>
      </div>
      <div class="swiper-slide">
        <li class="card !bg-slate-100 dark:!bg-slate-800">
          <div class=" ">
            <img class="border-2 dark:!border-[#ffff00] border-gray-400 !rounded-full h-20 w-20"
              src="../../assets/images/1.jpg" alt="img" draggable="true">
          </div>
          <h2 class="dark:!text-gray-300 !text-gray-800">Curriculum and Syllabus</h2>
          <span class="dark:!text-gray-400 !text-xs !text-gray-800 text-center"> Course objectives and learning outcomes
          </span>
          <div role="button" aria-label="Apply Now"
            class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] group dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7 py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950 transform transition-transform  hover:scale-105">
            <span class="dark:btnsend btnsend !text-sm">
              Apply Now
            </span>
            <i class="fa-solid fa-arrow-right transition-colors duration-200 
              text-gray-900 group-hover:text-gray-200 dark:text-[#ffff00] 
              group-hover:dark:text-gray-900 buttonbg dark:buttonbg"></i>
          </div>
        </li>
      </div>
      <div class="swiper-slide">
        <li class="card !bg-slate-100 dark:!bg-slate-800">
          <div class=" ">
            <img class="border-2 dark:!border-[#ffff00] border-gray-400 !rounded-full h-20 w-20"
              src="../../assets/images/1.jpg" alt="img" draggable="true">
          </div>
          <h2 class="dark:!text-gray-300 !text-gray-800">Curriculum and Syllabus</h2>
          <span class="dark:!text-gray-400 !text-xs !text-gray-800 text-center"> Course objectives and learning outcomes
          </span>
          <div role="button" aria-label="Apply Now"
            class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] group dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7 py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950 transform transition-transform  hover:scale-105">
            <span class="dark:btnsend btnsend !text-sm">
              Apply Now
            </span>
            <i class="fa-solid fa-arrow-right transition-colors duration-200 
              text-gray-900 group-hover:text-gray-200 dark:text-[#ffff00] 
              group-hover:dark:text-gray-900 buttonbg dark:buttonbg"></i>
          </div>
        </li>
      </div>
      <div class="swiper-slide">
        <li class="card !bg-slate-100 dark:!bg-slate-800">
          <div class=" ">
            <img class="border-2 dark:!border-[#ffff00] border-gray-400 !rounded-full h-20 w-20"
              src="../../assets/images/1.jpg" alt="img" draggable="true">
          </div>
          <h2 class="dark:!text-gray-300 !text-gray-800">Curriculum and Syllabus</h2>
          <span class="dark:!text-gray-400 !text-xs !text-gray-800 text-center"> Course objectives and learning outcomes
          </span>
          <div role="button" aria-label="Apply Now"
            class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] group dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7 py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950 transform transition-transform  hover:scale-105">
            <span class="dark:btnsend btnsend !text-sm">
              Apply Now
            </span>
            <i class="fa-solid fa-arrow-right transition-colors duration-200 
              text-gray-900 group-hover:text-gray-200 dark:text-[#ffff00] 
              group-hover:dark:text-gray-900 buttonbg dark:buttonbg"></i>
          </div>
        </li>
      </div>
      <div class="swiper-slide">
        <li class="card !bg-slate-100 dark:!bg-slate-800">
          <div class=" ">
            <img class="border-2 dark:!border-[#ffff00] border-gray-400 !rounded-full h-20 w-20"
              src="../../assets/images/1.jpg" alt="img" draggable="true">
          </div>
          <h2 class="dark:!text-gray-300 !text-gray-800">Curriculum and Syllabus</h2>
          <span class="dark:!text-gray-400 !text-xs !text-gray-800 text-center"> Course objectives and learning outcomes
          </span>
          <div role="button" aria-label="Apply Now"
            class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] group dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7 py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950 transform transition-transform  hover:scale-105">
            <span class="dark:btnsend btnsend !text-sm">
              Apply Now
            </span>
            <i class="fa-solid fa-arrow-right transition-colors duration-200 
              text-gray-900 group-hover:text-gray-200 dark:text-[#ffff00] 
              group-hover:dark:text-gray-900 buttonbg dark:buttonbg"></i>
          </div>
        </li>
      </div>

    </div>
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
    <i onclick="swiper.slideNext()"
      class="fa-solid fa-angle-right  dark:!bg-[#ffff00] dark:!text-gray-950 z-50 absolute top-1/2 -right-5 transform -translate-x-1/2 -translate-y-1/2 w-10 h-10 flex justify-center items-center cursor-pointer  rounded-full shadow-lg hover:shadow-2xl focus:shadow-2xl active:scale-95 transition-all duration-300 ease-in-out dark:hover:shadow-yellow-500/50 dark:focus:shadow-yellow-500/50 hover:bg-gray-200 focus:bg-gray-300 dark:hover:bg-[#ffeb3b] dark:focus:bg-[#ffeb3b]"></i>

    <i onclick="swiper.slidePrev()"
      class="fa-solid fa-angle-left  left-6  z-50 absolute top-1/2  transform -translate-x-1/2 -translate-y-1/2 w-10 h-10 flex justify-center items-center cursor-pointer rounded-full shadow-lg hover:shadow-2xl focus:shadow-2xl active:scale-95 transition-all duration-300 ease-in-out dark:!bg-[#ffff00] dark:!text-gray-950 dark:hover:shadow-yellow-500/50 dark:focus:shadow-yellow-500/50 hover:bg-gray-200 focus:bg-gray-300 dark:hover:bg-[#ffeb3b] dark:focus:bg-[#ffeb3b]"></i>

  </div>
</section>