<section class="flex justify-center mt-10 !select-none">
  <div class="wrapper">
    <i id="left" onclick="carusel()" class="fa-solid fa-angle-left icon dark:!bg-[#ffff00] dark:!text-gray-950"></i>
    <ul class="carousel">
      <li class="card bg-slate-100 dark:bg-slate-800">
        <div class="img border-4 dark:border-[#ffff00] border-gray-400">
          <img src="../../assets/images/1.jpg" alt="img" draggable="false">
        </div>
        <h2 class="dark:!text-gray-300 !text-gray-800">Curriculum and Syllabus</h2>
        <span class="dark:!text-gray-400 !text-xs !text-gray-800 text-center"> Course objectives and learning outcomes
        </span>
        <div
          class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7  py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950">
          <span class="dark:btnsend btnsend !text-sm">
            Apply Now
          </span>
          <i class="fa-solid fa-arrow-right dark:!text-[#ffff00]  buttonbg dark:buttonbg"></i>
        </div>
      </li>
      <li class="card bg-slate-100 dark:bg-slate-800">
        <div class="img border-4 dark:border-[#ffff00] border-gray-400">
          <img src="../../assets/images/2.jpg" alt="img" draggable="false">
        </div>
        <h2 class="dark:!text-gray-300 !text-gray-800">Teacher Quality</h2>
        <span class="dark:!text-gray-400 !text-xs !text-gray-800 text-center"> Subject matter expertise.

        </span>
        <div
          class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7  py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950">
          <span class="dark:btnsend btnsend !text-sm">
            Apply Now
          </span>
          <i class="fa-solid fa-arrow-right dark:!text-[#ffff00]  buttonbg dark:buttonbg"></i>
        </div>
      </li>
      <li class="card bg-slate-100 dark:bg-slate-800">
        <div class="img border-4 dark:border-[#ffff00] border-gray-400">
          <img src="../../assets/images/3.jpg" alt="img" draggable="false">
        </div>
        <h2 class="dark:!text-gray-300 !text-gray-800">Access and Equity</h2>
        <span class="dark:!text-gray-400 !text-xs !text-gray-800">Inclusive policies and practices

        </span>
        <div
          class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7  py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950">
          <span class="dark:btnsend btnsend !text-sm">
            Apply Now
          </span>
          <i class="fa-solid fa-arrow-right dark:!text-[#ffff00]  buttonbg dark:buttonbg"></i>
        </div>
      </li>
      <li class="card bg-slate-100 dark:bg-slate-800">
        <div class="img border-4 dark:border-[#ffff00] border-gray-400">
          <img src="../../assets/images/4.jpg" alt="img" draggable="false">
        </div>
        <h2 class="dark:!text-gray-300 !text-gray-800">Political Interference</h2>
        <span class="dark:!text-gray-400 !text-xs !text-gray-800"> Censorship of certain topics or perspectives

        </span>
        <div
          class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7  py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950">
          <span class="dark:btnsend btnsend !text-sm">
            Apply Now
          </span>
          <i class="fa-solid fa-arrow-right dark:!text-[#ffff00]  buttonbg dark:buttonbg"></i>
        </div>
      </li>
      <li class="card bg-slate-100 dark:bg-slate-800">
        <div class="img border-4 dark:border-[#ffff00] border-gray-400">
          <img src="../../assets/images/5.jpg" alt="img" draggable="false">
        </div>
        <h2 class="dark:!text-gray-300 !text-gray-800">Infrastructure </h2>
        <span class="dark:!text-gray-400 !text-xs !text-gray-800"> Buildings and classrooms

        </span>
        <div
          class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7  py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950">
          <span class="dark:btnsend btnsend !text-sm">
            Apply Now
          </span>
          <i class="fa-solid fa-arrow-right dark:!text-[#ffff00]  buttonbg dark:buttonbg"></i>
        </div>
      </li>
      <li class="card bg-slate-100 dark:bg-slate-800">
        <div class="img border-4 dark:border-[#ffff00] border-gray-400">
          <img src="../../assets/images/6.jpg" alt="img" draggable="false">
        </div>
        <h2 class="dark:!text-gray-300 !text-gray-800">Funding </h2>
        <span class="dark:!text-gray-400 !text-xs !text-gray-800"> Government grants and allocations

        </span>
        <div
          class="mt-8 dark:budiv budiv dark:hover:bg-[#ffff00] dark:border-[#ffff00] !duration-500 text-gray-900 flex items-center gap-3 font-semibold border hover:bg-gray-800 hover:text-gray-200 border-gray-800 px-7  py-1 cursor-pointer select-none w-fit rounded-full dark:!text-gray-100 dark:hover:!text-gray-950">
          <span class="dark:btnsend btnsend !text-sm">
            Apply Now
          </span>
          <i class="fa-solid fa-arrow-right dark:!text-[#ffff00]  buttonbg dark:buttonbg"></i>
        </div>
      </li>
     
    </ul>
    <i id="right" onclick="carusel()" class="fa-solid fa-angle-right icon dark:!bg-[#ffff00] dark:text-gray-950"></i>
  </div>
</section>