<main *ngIf="!notfound" class="w-full">
    <div *ngIf="countstart != 0" class="w-full h-screen grid place-items-center">
        <!-- <section *ngIf="!isTestStart && !loader" class="space-y-4 md:flex md:space-y-0 md:space-x-4">
            <div class="p-3 bg-gray-200 dark:bg-gray-800 rounded-lg flex flex-col items-center justify-center">
                <span class="text-gray-900 dark:text-gray-200 font-semibold text-xl text-center w-full">Easy
                    MCQ's</span>
                <br>
                <button (click)="startTest('Easy')"
                    class="w-32  py-2 font-bold select-none hover:bg-gray-900 duration-500 transition-all dark:bg-gray-950 rounded-full bg-gray-800 text-gray-100 text-sm dark:text-gray-300 dark:hover:bg-[#ffff00] dark:hover:text-gray-900">Start
                    Now</button>
            </div>
            <div class="p-3 bg-gray-200 dark:bg-gray-800 rounded-lg flex flex-col items-center justify-center">
                <span class="text-gray-900 dark:text-gray-200 font-semibold text-xl text-center w-full">Medium
                    MCQ's</span>
                <br>
                <button (click)="startTest('Medium')"
                    class="w-32  py-2 font-bold select-none hover:bg-gray-900 duration-500 transition-all dark:bg-gray-950 rounded-full bg-gray-800 text-gray-100 text-sm dark:text-gray-300 dark:hover:bg-[#ffff00] dark:hover:text-gray-900">Start
                    Now</button>
            </div>
            <div class="p-3 bg-gray-200 dark:bg-gray-800 rounded-lg flex flex-col items-center justify-center">
                <span class="text-gray-900 dark:text-gray-200 font-semibold text-xl text-center w-full">Hard
                    MCQ's</span>
                <br>
                <button (click)="startTest('Hard')"
                    class="w-32  py-2 font-bold select-none hover:bg-gray-900 duration-500 transition-all dark:bg-gray-950 rounded-full bg-gray-800 text-gray-100 text-sm dark:text-gray-300 dark:hover:bg-[#ffff00] dark:hover:text-gray-900">Start
                    Now</button>
            </div>
        </section> -->
        <section *ngIf="!isTestStart && !loader" class="space-y-4 md:flex md:space-y-0 md:space-x-4">
            <div class="p-3 bg-gray-200 dark:bg-gray-800 rounded-lg flex flex-col items-center justify-center">
              <span class="text-gray-900 dark:text-gray-200 font-semibold text-xl text-center w-full">Easy MCQ's</span>
              <br>
              <button (click)="startTest('Easy')"
                      class="w-32 py-2 dark:hover:bg-[#ffff00] dark:hover:text-gray-900 font-bold select-none transition-transform duration-300 transform hover:scale-105 hover:shadow-lg bg-gray-800 text-gray-100 rounded-full hover:bg-gray-700 dark:bg-gray-950 dark:text-gray-300 ">
                Start Now
              </button>
            </div>
            <div class="p-3 bg-gray-200 dark:bg-gray-800 rounded-lg flex flex-col items-center justify-center">
              <span class="text-gray-900 dark:text-gray-200 font-semibold text-xl text-center w-full">Medium MCQ's</span>
              <br>
              <button (click)="startTest('Medium')"
                      class="w-32 py-2 font-bold select-none transition-transform duration-300 transform hover:scale-105 hover:shadow-lg bg-gray-800 text-gray-100 rounded-full hover:bg-gray-700 dark:bg-gray-950 dark:text-gray-300 dark:hover:bg-[#ffff00] dark:hover:text-gray-900">
                Start Now
              </button>
            </div>
            <div class="p-3 bg-gray-200 dark:bg-gray-800 rounded-lg flex flex-col items-center justify-center">
              <span class="text-gray-900 dark:text-gray-200 font-semibold text-xl text-center w-full">Hard MCQ's</span>
              <br>
              <button (click)="startTest('Hard')"
                      class="w-32 py-2 font-bold select-none transition-transform duration-300 transform hover:scale-105 hover:shadow-lg bg-gray-800 text-gray-100 rounded-full hover:bg-gray-700 dark:bg-gray-950 dark:text-gray-300 dark:hover:bg-[#ffff00] dark:hover:text-gray-900">
                Start Now
              </button>
            </div>
          </section>
          
        <section *ngIf="loader" class="space-y-4 md:flex md:space-y-0 md:space-x-4">
            <div
                class="p-3 bg-gray-200 dark:bg-gray-800 rounded-lg flex flex-col items-center justify-center animate-pulse">
                <div class="h-6 w-24 bg-gray-300 dark:bg-gray-700 rounded"></div>
                <div class="h-10 w-32 bg-gray-300 dark:bg-gray-700 rounded mt-4"></div>
            </div>
            <div
                class="p-3 bg-gray-200 dark:bg-gray-800 rounded-lg flex flex-col items-center justify-center animate-pulse">
                <div class="h-6 w-24 bg-gray-300 dark:bg-gray-700 rounded"></div>
                <div class="h-10 w-32 bg-gray-300 dark:bg-gray-700 rounded mt-4"></div>
            </div>
            <div
                class="p-3 bg-gray-200 dark:bg-gray-800 rounded-lg flex flex-col items-center justify-center animate-pulse">
                <div class="h-6 w-24 bg-gray-300 dark:bg-gray-700 rounded"></div>
                <div class="h-10 w-32 bg-gray-300 dark:bg-gray-700 rounded mt-4"></div>
            </div>
        </section>

        <span *ngIf="isTestStart" class="text-[8rem]  transition-all scale-75 dark:text-gray-200 text-gray-900">
            {{countstart}}
        </span>
    </div>
    <section *ngIf="countstart===0">
        <main class="w-full pt-20 pb-6 select-none">
            <header class="w-full h-16 my-4 justify-between flex items-center bg-gray-300 px-6 dark:bg-gray-800">
                <div class="space-x-1">
                    <span
                        class="md:text-lg font-semibold text-gray-950 dark:text-gray-200 ">{{headerdata.classname}}</span>
                    <span
                        class="md:text-lg font-semibold text-gray-950 dark:text-gray-200 ">{{headerdata.bookname}}</span>
                    <span class="md:text-lg font-semibold text-gray-950 dark:text-gray-200 ">Test
                        {{headerdata.chaptername}}</span>
                </div>
                <div class="flex space-x-3 items-center">
                    <span
                        class="md:text-lg font-semibold text-gray-950 dark:text-gray-200 uppercase">{{userdata.fullname}}</span>
                    <img class="h-10 w-10 rounded-full object-cover"
                        src="../../assets/images/download__3_-removebg-preview.png" alt="">
                </div>
            </header>
           
            <section class="">
                <div class="flex justify-around">
                    <h1 class="w-fit text-center   text-gray-900 font-bold text-lg tracking-wider dark:text-gray-200">
                        Question # {{nextmcqs +1}} / {{givemcqs.length}}</h1>
                    <div class="space-x-2 flex items-center">
                        <i class="fa-solid fa-clock text-xl text-gray-900 dark:text-[#ffff00]"></i>
                        <span
                            class="w-fit text-center -mt-1 text-gray-900 font-bold text-xl tracking-wider dark:text-gray-200">{{min}}:{{sec}}</span>
                    </div>
                </div>
                <main class="w-full md:flex p-5  md:px-10">
                    <div class="w-full">
                        <p class="text-gray-900 text-lg dark:text-gray-200 text-start">
                            {{displaumcq.statement}}
                        </p>
                    </div>
                </main>
                <form [formGroup]="myForm" class="w-full md:px-5">
                    <section class="space-y-5 w-full p-5">
                        <div class="md:flex gap-5 space-y-5 md:space-y-0">
                            <label for="option1"
                                class="bg-gray-200 py-2 flex justify-between items-center w-full px-5 rounded-xl text-lg cursor-pointer text-gray-900 dark:bg-gray-950 dark:text-gray-200">
                                <div class="space-x-5">
                                    <span>A:</span>
                                    <span>{{displaumcq.option1}}</span>
                                </div>
                                <div class=" w-fit overflow-hidden">
                                    <label class="container">
                                        <input id="option1" [value]="displaumcq.option1" name="option" type="radio"
                                            formControlName="option"
                                            [checked]="displaumcq.option1===this.Answer">
                                        <div class="checkmark"></div>
                                    </label>
                                </div>
                            </label>
                            <label for="option2"
                                class="bg-gray-200 py-2 flex justify-between items-center w-full px-5 rounded-xl text-lg cursor-pointer text-gray-900 dark:bg-gray-950 dark:text-gray-200">
                                <div class="space-x-5">
                                    <span>B:</span>
                                    <span>{{displaumcq.option2}}</span>
                                </div>
                                <div class="w-fit overflow-hidden">
                                    <label class="container">
                                        <input id="option2" [value]="displaumcq.option2" name="option" type="radio"
                                            formControlName="option"
                                            [checked]="displaumcq.option2===this.Answer">
                                        <div class="checkmark"></div>
                                    </label>
                                </div>
                            </label>
                        </div>
                        <div class="md:flex gap-5 space-y-5 md:space-y-0">
                            <label for="option3"
                                class="bg-gray-200 py-2 flex justify-between items-center w-full px-5 rounded-xl text-lg cursor-pointer text-gray-900 dark:bg-gray-950 dark:text-gray-200">
                                <div class="space-x-5">
                                    <span>C:</span>
                                    <span>{{displaumcq.option3}}</span>
                                </div>
                                <div class="w-fit overflow-hidden">
                                    <label class="container">
                                        <input id="option3" [value]="displaumcq.option3"
                                            [checked]="displaumcq.option3===this.Answer"
                                            type="radio" name="option" formControlName="option">
                                        <div class="checkmark"></div>
                                    </label>
                                </div>
                            </label>
                            <label for="option4"
                                class="bg-gray-200 py-2 flex justify-between items-center w-full px-5 rounded-xl text-lg cursor-pointer text-gray-900 dark:bg-gray-950 dark:text-gray-200">
                                <div class="space-x-5">
                                    <span>D:</span>
                                    <span>{{displaumcq.option4}}</span>
                                </div>
                                <div class="w-fit overflow-hidden">
                                    <label class="container">
                                        <input id="option4" [value]="displaumcq.option4" type="radio" name="option"
                                            formControlName="option"
                                            [checked]="displaumcq.option4===this.Answer">
                                        <div class="checkmark"></div>
                                    </label>
                                </div>
                            </label>
                        </div>
                    </section>
                </form>
                <footer class="flex space-x-5 justify-center items-center py-10">
                    <button (click)="prev()"
                        class="bg-gray-200 py-2 px-5 rounded-lg text-lg cursor-pointer text-gray-950 dark:bg-gray-950 dark:text-gray-200 transform transition-transform duration-200 active:scale-95 hover:bg-gray-300 dark:hover:bg-[#ffff00] dark:hover:text-gray-950 shadow-md hover:shadow-lg">
                        <i class="fa-solid fa-chevron-left"></i> Prev
                    </button>
                    <button (click)="skip()"
                        class="bg-gray-200 py-2 px-5 rounded-lg text-lg cursor-pointer text-gray-950 dark:bg-gray-950 dark:text-gray-200 transform transition-transform duration-200 active:scale-95 hover:bg-gray-300 dark:hover:bg-[#ffff00]  dark:hover:text-gray-950 shadow-md hover:shadow-lg">
                        <i class="fa-solid fa-chevron-right"></i> Skip
                    </button>
                    <button *ngIf="nextmcqs < this.givemcqs.length-1" (click)="Next()"
                        class="bg-gray-200 py-2 px-5 rounded-lg text-lg cursor-pointer text-gray-950 dark:bg-gray-950 dark:text-gray-200 transform transition-transform duration-200 active:scale-95 hover:bg-gray-300 dark:hover:bg-[#ffff00]  dark:hover:text-gray-950 shadow-md hover:shadow-lg">
                        <i class="fa-solid fa-chevron-right"></i> Next
                    </button>
                    <button *ngIf="nextmcqs >= this.givemcqs.length-1" (click)="Submit()"
                        class="bg-gray-200 py-2 px-5 rounded-lg text-lg cursor-pointer text-gray-950 dark:bg-gray-950 dark:text-gray-200 transform transition-transform duration-200 active:scale-95 hover:bg-gray-300 dark:hover:bg-[#ffff00]  dark:hover:text-gray-950 shadow-md hover:shadow-lg">
                        Submit
                    </button>
                </footer>                
            </section>
            <div class="relative flex items-center  w-full max-w-[300px] sm:max-w-[400px] md:max-w-[500px] lg:max-w-[800px] mx-auto">
                <div (click)="scrollPrev()" class="cursor-pointer ">
                    <i class="fas fa-chevron-left dark:hover:bg-[#ffff00] dark:text-gray-100 dark:hover:text-gray-950 dark:bg-gray-950 h-8 w-8 flex justify-center items-center mx-3 rounded-full bg-gray-400 text-gray-900 shadow-xl cursor-pointer transform transition-transform duration-200 active:scale-90 hover:bg-gray-500 hover:text-white"></i>
                </div>
                <div class="flex overflow-x-auto gap-3 scrollbar-hide" #paginationContainer
                    (mousedown)="startDrag($event)" (mouseup)="stopDrag()" (mouseleave)="stopDrag()"
                    (mousemove)="onDrag($event)">
                    <div *ngFor="let mcq of givemcqs; let i = index">
                        <div (click)="jumpmcqs(i)"
                            [ngClass]="{ 'bg-green-600 dark:bg-green-500': mcq.useranswer && nextmcqs!=i, 'bg-gray-500 ': !mcq.useranswer && nextmcqs!=i,'bg-gray-800 dark:bg-[#ffff00] dark:text-gray-900':nextmcqs===i }"
                            class="w-7 h-7 rounded-md flex items-center justify-center ">
                            {{ i + 1 }}
                        </div>
                    </div>
                </div>
                <div (click)="scrollNext()" class="cursor-pointer">
                    <i class="fas fa-chevron-right dark:hover:bg-[#ffff00] dark:text-gray-100 dark:hover:text-gray-950 dark:bg-gray-950 h-8 w-8 flex justify-center items-center mx-3 rounded-full bg-gray-400 text-gray-900 shadow-xl cursor-pointer transform transition-transform duration-200 active:scale-90 hover:bg-gray-500 hover:text-white"></i>
                </div>                
            </div>
        </main>
    </section>
</main>
<div *ngIf="notfound"
    class="w-full p-4 h-screen grid place-content-center bg-gray-100 dark:bg-slate-950 border rounded-lg border-gray-200 dark:border-[#ffff00]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 300" width="200" height="150"
        class="illustration styles_illustrationTablet__1DWOa">
        <g id="_296_empty_inbox_outline" data-name="#296_empty_inbox_outline">
            <path
                d="M287.57,149.09l-32.58-44a7.2,7.2,0,0,0-5.8-2.92H150.81a7.2,7.2,0,0,0-5.8,2.92l-32.58,44v53.62a11,11,0,0,0,11,11H276.59a11,11,0,0,0,11-11Z"
                fill="#093f68"></path>
            <path
                d="M276.59,214.69H123.41a12,12,0,0,1-12-12V149.09a1,1,0,0,1,.19-.6l32.58-44a8.26,8.26,0,0,1,6.61-3.33h98.38a8.26,8.26,0,0,1,6.61,3.33l32.58,44a1,1,0,0,1,.19.6v53.62A12,12,0,0,1,276.59,214.69ZM113.43,149.42v53.29a10,10,0,0,0,10,10H276.59a10,10,0,0,0,10-10V149.42l-32.38-43.75a6.25,6.25,0,0,0-5-2.52H150.81a6.25,6.25,0,0,0-5,2.52Z"
                fill="#093f68"></path>
            <path
                d="M287.57,149.09v53.62a11,11,0,0,1-11,11H123.41a11,11,0,0,1-11-11V149.09h47.41l4.46,22a8.75,8.75,0,0,0,8.58,7h54.84a8.78,8.78,0,0,0,8.62-7.15l4.12-21.91Z"
                fill="#68e1fd"></path>
            <path
                d="M276.58,214.69H123.41a12,12,0,0,1-12-12V149.09a1,1,0,0,1,1-1h47.41a1,1,0,0,1,1,.8l4.46,22a7.77,7.77,0,0,0,7.6,6.23h54.84a7.77,7.77,0,0,0,7.63-6.34l4.12-21.91a1,1,0,0,1,1-.81h47.11a1,1,0,0,1,1,1v53.62A12,12,0,0,1,276.58,214.69Zm-163.15-64.6v52.62a10,10,0,0,0,10,10H276.58a10,10,0,0,0,10-10V150.09H241.29l-4,21.09a9.78,9.78,0,0,1-9.6,8H172.88a9.77,9.77,0,0,1-9.56-7.83L159,150.09Z"
                fill="#093f68"></path>
            <path d="M150.9,191.86H131.26a1,1,0,0,1,0-2H150.9a1,1,0,0,1,0,2Z" fill="#093f68"></path>
            <path
                d="M164.5,89a2,2,0,0,1-1.59-.8l-13.61-18a2,2,0,0,1,3.2-2.41l13.6,18a2,2,0,0,1-.39,2.8A2,2,0,0,1,164.5,89Z"
                fill="#dfeaef"></path>
            <path
                d="M228.94,89a2.05,2.05,0,0,1-1.21-.41,2,2,0,0,1-.39-2.8l13.61-18a2,2,0,0,1,3.19,2.41l-13.6,18A2,2,0,0,1,228.94,89Z"
                fill="#dfeaef"></path>
            <path d="M198.29,83a2,2,0,0,1-2-2V56.15a2,2,0,0,1,4,0V81A2,2,0,0,1,198.29,83Z" fill="#dfeaef"></path>
            <rect x="231.96" y="184.22" width="65.37" height="34.09" rx="3.89" fill="#ffbc0e"></rect>
            <path
                d="M293.44,219.32H235.85a4.9,4.9,0,0,1-4.89-4.89V188.11a4.9,4.9,0,0,1,4.89-4.89h57.59a4.9,4.9,0,0,1,4.89,4.89v26.32A4.9,4.9,0,0,1,293.44,219.32Zm-57.59-34.1a2.89,2.89,0,0,0-2.89,2.89v26.32a2.89,2.89,0,0,0,2.89,2.89h57.59a2.9,2.9,0,0,0,2.89-2.89V188.11a2.9,2.9,0,0,0-2.89-2.89Z"
                fill="#093f68"></path>
            <path d="M241.81,194.5h7.66v2.3h-5.18v2.1h4.89v2.29h-4.89v2.3h5.46v2.29h-7.94Z" fill="#093f68"></path>
            <path
                d="M251.44,198h2.3v1.05h0a1.59,1.59,0,0,1,.32-.44,2,2,0,0,1,.49-.4,3,3,0,0,1,.65-.29,2.92,2.92,0,0,1,.8-.11,3.06,3.06,0,0,1,1.44.33,2.15,2.15,0,0,1,.95,1.06,2.55,2.55,0,0,1,1-1.07,3.46,3.46,0,0,1,2.77-.06,2.27,2.27,0,0,1,.84.72,3,3,0,0,1,.45,1.07,6,6,0,0,1,.13,1.31v4.57h-2.39v-4.51a1.83,1.83,0,0,0-.23-.93.87.87,0,0,0-.82-.39,1.54,1.54,0,0,0-.69.14,1.1,1.1,0,0,0-.45.37,1.67,1.67,0,0,0-.24.56,2.87,2.87,0,0,0-.07.67v4.09h-2.39v-4.09c0-.14,0-.31,0-.51a1.94,1.94,0,0,0-.12-.58,1,1,0,0,0-.31-.46,1,1,0,0,0-.63-.19,1.47,1.47,0,0,0-.74.17,1.1,1.1,0,0,0-.44.44,1.86,1.86,0,0,0-.2.63,5.87,5.87,0,0,0,0,.74v3.85h-2.39Z"
                fill="#093f68"></path>
            <path
                d="M265.52,198h2.2v1h0a2.4,2.4,0,0,1,.38-.42,2.2,2.2,0,0,1,.54-.39,3.66,3.66,0,0,1,.67-.29,2.9,2.9,0,0,1,.79-.11,4.13,4.13,0,0,1,1.56.29,3.74,3.74,0,0,1,1.2.83,3.79,3.79,0,0,1,.77,1.27,4.61,4.61,0,0,1,.27,1.61,5,5,0,0,1-.24,1.55,4.25,4.25,0,0,1-.71,1.31,3.36,3.36,0,0,1-1.1.92,3.13,3.13,0,0,1-1.48.34,4,4,0,0,1-1.4-.23,2.18,2.18,0,0,1-1.06-.79h0v4.46h-2.39Zm2.2,3.87a2,2,0,0,0,.5,1.42,1.85,1.85,0,0,0,1.41.54,1.82,1.82,0,0,0,1.41-.54,2.27,2.27,0,0,0,0-2.84,1.82,1.82,0,0,0-1.41-.54,1.85,1.85,0,0,0-1.41.54A2,2,0,0,0,267.72,201.91Z"
                fill="#093f68"></path>
            <path
                d="M280.61,200H278.5v2.58a3.45,3.45,0,0,0,0,.58,1.08,1.08,0,0,0,.14.46.76.76,0,0,0,.34.29,1.48,1.48,0,0,0,.61.11c.13,0,.3,0,.51,0a.88.88,0,0,0,.47-.19v2a3.44,3.44,0,0,1-.83.19,6.15,6.15,0,0,1-.85.05,4.33,4.33,0,0,1-1.11-.13,2.5,2.5,0,0,1-.89-.4,1.86,1.86,0,0,1-.6-.73,2.47,2.47,0,0,1-.22-1.08V200h-1.53V198h1.53v-2.29h2.39V198h2.11Z"
                fill="#093f68"></path>
            <path
                d="M286.28,207c-.16.41-.32.78-.47,1.1a2.35,2.35,0,0,1-.56.8,2.19,2.19,0,0,1-.87.5,4.75,4.75,0,0,1-1.38.16,5.63,5.63,0,0,1-1.79-.28l.32-2a2.71,2.71,0,0,0,1.11.24,2,2,0,0,0,.66-.09,1,1,0,0,0,.42-.26,1.5,1.5,0,0,0,.28-.4l.24-.56.17-.45L281,198h2.58l2,5.11h0l1.71-5.11h2.45Z"
                fill="#093f68"></path>
        </g>
    </svg>
</div>