.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 5px;
}

.container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  border-radius: 5px;
}
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 50%;
}
.container input:checked ~ .checkmark {
  transition: all 0.2s;
  opacity: 1;
  background-image: linear-gradient(
    45deg,
    rgb(31, 31, 32) 0%,
    rgb(240, 243, 80) 100%
  );
}

.container input ~ .checkmark {
  transition: all 0.2s;
  opacity: 1;
}
.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
}
.container input:checked ~ .checkmark:after {
  opacity: 1;
  transition: all 0.2s;
}
.container .checkmark:after {
  left: 0.52em;
  top: 0.34em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.flex.overflow-x-auto {
  cursor: grab;
}
.flex.overflow-x-auto.dragging {
  cursor: grabbing;
}
