<div class="min-h-[calc(100vh-80px)] pt-20">
    <div class="flex bg-white dark:bg-gray-950 rounded-lg shadow-lg w-full">
        <div class="hidden lg:block lg:w-1/2 bg-cover" style="background-image:url('../../assets/images/log\ in.avif')">
        </div>
        <div id="loaderdiv" class="nzspin relative dark:nzspin   w-full lg:w-1/2 h-full">
            <nz-spin *ngIf="loader" class="top-1/2  left-1/2 absolute transform -translate-x-1/2 -translate-y-1/2" [nzSize]="'large'"
                nzSimple></nz-spin>
            <div
                class="w-full max-w-[450px] mx-auto p-8 py-4  grid place-items-center select-none min-h-[calc(100vh-80px)]">
                <p class="text-xl w-full text-gray-600 text-center dark:text-gray-200 font-bold font-sans">Sign Up Your
                    Account!</p>
                <form [formGroup]="signupForm" class="w-full" (ngSubmit)="submitForm()">

                    <div class="mt-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2 dark:text-gray-400">Full Name</label>
                        <input formControlName="fullname"
                            class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
                            type="text" />
                        <div class="h-4 text-red-600">
                            <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)">
                                <div *ngIf="fullname.errors">
                                    <div *ngIf="fullname.errors['required']">
                                        Full Name is required
                                    </div>
                                    <div *ngIf="fullname.errors['minlength']">
                                        Full Name must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <label class="block text-gray-700 text-sm font-bold mb-2 dark:text-gray-400">Email
                            Address</label>
                        <input formControlName="email"
                            class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
                            type="email" />
                        <div class="h-4 text-red-600">
                            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                                <div *ngIf="email.errors && email.errors['required']">
                                    Email is required
                                </div>
                                <div *ngIf="email.errors && email.errors['email']">
                                    Invalid email address
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="flex justify-between">
                            <label
                                class="block text-gray-700 dark:text-gray-400 text-sm font-bold mb-2">Password</label>
                        </div>
                        <input formControlName="password"
                            class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
                            type="password" />
                        <div class="h-4 text-red-600">
                            <div *ngIf="password.invalid && (password.dirty || password.touched)">
                                <div *ngIf="password.errors && password.errors['required']">
                                    Password is required
                                </div>
                                <div *ngIf="password.errors && password.errors['minlength']">
                                    Password must be at least 4 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="flex justify-between">
                            <label class="block text-gray-700 dark:text-gray-400 text-sm font-bold mb-2">Confirm
                                Password</label>
                        </div>
                        <input formControlName="confirmPassword"
                            class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
                            type="password" />
                        <div class="h-4 text-red-600">
                            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                                <div *ngIf="confirmPassword.errors && confirmPassword.errors['required']">
                                    Confirm Password is required
                                </div>
                                <div *ngIf="confirmPassword.errors && confirmPassword.errors['match']">
                                    Passwords do not match
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-6">
                        <button
                            class="bg-gray-700 dark:bg-gray-900 outline-none dark:hover:bg-[#ffff00] dark:hover:text-gray-950 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">Registration
                            Now</button>
                    </div>

                </form>

                <div class="mt-4 flex items-center justify-between">
                    <span class="border-b w-1/5 md:w-1/4"></span>
                    <div routerLink="/Login"
                        class="text-xs min-w-32 text-center text-gray-500 uppercase cursor-pointer dark:hover:text-[#ffff00]">
                        or login</div>
                    <span class="border-b w-1/5 md:w-1/4"></span>
                </div>
            </div>
        </div>
    </div>
</div>