@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.ant-drawer-body {
  padding: 0 !important;
}
.ant-drawer-header {
  display: none !important;
}
.dark\:scrollbar:is(.dark *)::-webkit-scrollbar {
  width: 7px;
}
.dark\:scrollbar:is(.dark *)::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.dark\:scrollbar:is(.dark *)::-webkit-scrollbar-thumb {
  background: yellow;
  border-radius: 6px;
}
.dark\:scrollbar:is(.dark *)::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 217, 0);
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(53, 53, 53);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(49, 49, 49);
  cursor: pointer;
}
.slick-dots li {
  width: 12px !important;
  height: 12px !important;
  background: rgb(223, 221, 221);
  border-radius: 50%;
  cursor: pointer;
}
.slick-active {
  background-color: yellow !important;
}
.slick-dots li button {
  display: none !important;
}
.ant-message-success,
.ant-message-error,
.ant-message-warning,
.ant-message-info  {
  display: inline !important ;
  display: flex !important;
  align-items: center !important;
}
.nzspin .ant-spin-dot-item {
  background-color: rgb(27, 27, 27);
}
.dark\:nzspin:is(.dark *) .ant-spin-dot-item {
  background-color: gold !important;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: #ffffff1e;
}
.ant-select-clear {
  margin-top: -9px !important;
}
.ant-upload-select{
  width: 100% !important;
}
.bookselected .ant-select-selector{
  background-color: #f3f4f6  !important;
  border-radius: 0.375rem !important;
}
.dark\:bookselected:is(.dark *) .ant-select-selector {
  background-color: #ffffff1e !important;
  color: gainsboro !important;
}
.ant-select-item-option:hover{
background: rgb(31, 31, 31);
color: rgb(239, 239, 243);
font-weight: 400;
}
.ant-select-item-option{
  font-weight: 400;
}

.dbli1 .ant-menu-title-content{
  display: flex !important;
  align-items: center !important;
}
.ngselectbn .ant-select-selector{
  box-shadow: none !important;
  border: 0 !important;
}
.ant-select-dropdown{
  border-radius: 9px !important;
}
.ant-menu-light.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgb(39, 39, 39) !important;
  color: #f3f4f6 ;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color: #ffff00 !important;
  color: rgb(32, 32, 32) !important;
}
.ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 3px solid #ffff00 !important;
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
}
/* .ant-menu-submenu-title:hover{
color: #0e0e0e !important;
} */
.nztable nz-table-inner-default{
  overflow: auto;
}
.nztable nz-table-inner-default::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.nztable nz-table-inner-default::-webkit-scrollbar-track {
  background: #dbdbdb;
}

.nztable nz-table-inner-default::-webkit-scrollbar-thumb {
  background: #1b1b1b; /* Scrollbar color */
  border-radius: 4px; /* Rounded corners */
}
.dark\:nztable:is(.dark *) nz-table-inner-default::-webkit-scrollbar {
  width: 7px;
}
.dark\:nztable:is(.dark *) nz-table-inner-default::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #474747;
  border-radius: 10px;
}
.dark\:nztable:is(.dark *) nz-table-inner-default::-webkit-scrollbar-thumb {
  background: yellow !important;
  border-radius: 6px;
}
.spin .ant-spin-dot i{
  background-color: #1a1a1a !important;
}
.dark\:spin:is(.dark *) .ant-spin-dot i {
  background-color: #ffff00 !important;
}
.dark\:multiselect:is(.dark *) .ant-select-selection-item {
  background-color: rgb(32, 32, 32) !important;
  border-radius: 7px !important;
}
.dark\:multiselect:is(.dark *) .ant-select-selection-item-remove {
  color: #f3f4f6 !important;
}
.ant-select-multiple .ant-select-selection-item{
  border: 0 !important;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: transparent !important;
}