.dark\:buttonbg:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity));
}
.dark\:budiv:hover:is(.dark *) .dark\:buttonbg:is(.dark *) {
  --tw-bg-opacity: 1;
  color: black;
  transition-duration: 500ms;
}
.budiv:hover .buttonbg {
  transform: translateX(10px);
  transition-duration: 700ms;
}
.cursor {
  display: inline-block;
  width: 10px; /* Width of cursor */
  height: 20px; /* Height of cursor */
  margin-left: 5px; /* Space between text and cursor */
  animation: blink 0.7s step-end infinite; /* Blinking effect */
}

@keyframes blink {
  50% {
    opacity: 0; /* Blink effect */
  }
}